body {
    margin: 0;
    overflow: hidden;
    background-color: #3B337E;
    font-family: "Source Sans Pro", sans-serif;
}

.background {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -2;
    margin-left: -50px;
}

.logo {
    position: absolute;
    left: 0;
    width: 30px;
    padding: 40px 50px;
}

.card {
    background-color: #1C1C25;
  padding: 15px;
  width: 35%;
  border: 1px solid #242529;
  border-radius: 10px;
  /* height: 400px;
  display: flex; */
}

.top h1 {
    margin-bottom: 1px;
    color: #c5c5c5;
    font-size: 25px;
}
.top p {
    margin-top: 3px;
    color: #c5c5c5;
    font-size: 15px;
}
.card-content {
    padding: 20px;
}

input {
    background-color: #12131A;
    border: none;
    height: 30px;
    border-radius: 5px;
    width: 96.5%;
    color: #c5c5c5;
    padding-left: 10px;
    padding-right: 10px;
  }
  
button {
    cursor: pointer;
    height: 25px;
    width: 100%;
    border-radius: 3px;
    border: none;
    color: #d6d6d6;
    font-weight: 600 !important;
    background: #3f51b5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: "Montserrat", sans-serif;
    padding: 0 15px;
    text-transform: uppercase;
    margin-top: 10px;
    
  }
